## Feature Extraction

In [1]:
import numpy as np
import pandas as pd
import scipy
%matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sklearn
from sklearn import preprocessing
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Using matplotlib backend: MacOSX

In [2]:
%pwd

'/Users/Vivek/GoogleDrive/Spring17/Data_Mining/Project/talkingdata/Vivek'

In [3]:
directory = "/Users/Vivek/GoogleDrive/Spring17/Data_Mining/Project/data" #'../input' 
gender_age_train = pd.read_csv(os.path.join(directory, 'gender_age_train.csv'))
gender_age_test = pd.read_csv(os.path.join(directory, 'gender_age_test.csv'))
app_events = pd.read_csv(os.path.join(directory, 'app_events.csv'))
app_labels = pd.read_csv(os.path.join(directory, 'app_labels.csv'))
label_cat = pd.read_csv(os.path.join(directory,'label_categories.csv'))
events = pd.read_csv(os.path.join(directory, 'events.csv'))
phone = pd.read_csv(os.path.join(directory, 'phone_brand_device_model.csv'))
sample = pd.read_csv(os.path.join(directory,'sample_submission.csv'))

In [4]:
gender_age_train.head()
sample.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,1002079943728939269,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
1,-1547860181818787117,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
2,7374582448058474277,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
3,-6220210354783429585,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833
4,-5893464122623104785,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833,0.0833

In [7]:
print('Total no of device id in trainign data: \n', len(gender_age_train.device_id))
print("----------------------------")
print('No of Unique device id in training data: \n', len(np.unique(gender_age_train.device_id))) 
print("____________________________________________")
print('Total no of device id in testing data: \n', len(gender_age_test.device_id))
print("----------------------------")
print('No of Unique device id in testing data: \n', len(np.unique(gender_age_test.device_id)))

Total no of device id in trainign data:
 74645
----------------------------
No of Unique device id in training data:
 74645
____________________________________________
Total no of device id in testing data:
 112071
----------------------------
No of Unique device id in testing data:
 112071

 Now, I will use preprocessing.LabelEncoder / OneHotEncoding to change categorical features to binary 
 Then, I will use preprocessing.LabelBinarizer to change create new features using numerical values of features


### New Feautures:
    le = preprocessing.LabelEncoder() 
    fit = le.fit(gender_age_train['gender'])
    fit.classes_____________________
    using label binarizer on binary type categorial variable will give you jsut a single column and on other size of new       features = no of different categorical values
    Therefore I will use mapping to chaange gender and label binarizer for all the other
    
    Can also do the same using sparse matrix method from scipy, but I like this method

In [8]:
# mapping yes/ no to gender to True/False
d = {'M': 1, 'F': 0}; # you need to check what are the values in gender for this mapping
gender_age_train['gender']=gender_age_train['gender'].map(d);
gender_age_train.head(2)

             device_id  gender  age   group
0 -8076087639492063270       1   35  M32-38
1 -2897161552818060146       1   35  M32-38

In [9]:
# Making Bianry Features for age
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
temp = lb.fit_transform(gender_age_train[['age']])
temp = pd.DataFrame(temp, columns = [('age'+"_"+str(i)) for i in gender_age_train['age'].value_counts().index])
gender_age_train = pd.concat([gender_age_train, temp], axis= 1)
gender_age_train = gender_age_train.drop('age', axis = 1) # droppping age column now

print('______________________________________________---')
gender_age_train.head(2)

______________________________________________---

,device_id,gender,group,age_26,age_27,age_29,age_28,age_25,age_30,age_24,...,age_6,age_85,age_89,age_87,age_84,age_82,age_90,age_96,age_1,age_94
0,-8076087639492063270,1,M32-38,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-2897161552818060146,1,M32-38,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Making Bianry Features for group
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
temp = lb.fit_transform(gender_age_train[['group']]) # we need to make it a panda dataframe
temp = pd.DataFrame(temp, columns = [('group'+"_"+str(i)) for i in gender_age_train['group'].value_counts().index])
gender_age_train = pd.concat([gender_age_train, temp], axis= 1) # concatinating with earlier one
gender_age_train = gender_age_train.drop('group', axis = 1)
print('______________________________________________---')
gender_age_train.head(2)
gender_age_train.shape

______________________________________________---

,device_id,gender,age_26,age_27,age_29,age_28,age_25,age_30,age_24,age_23,...,group_M39+,group_M22-,group_M29-31,group_F33-42,group_M27-28,group_F23-,group_F29-32,group_F43+,group_F24-26,group_F27-28
0,-8076087639492063270,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,-2897161552818060146,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

(74645, 99)

In [11]:
phone.head()
print('Total number of device id:{}'.format(len(phone.device_id)))
print('Number of Unique DeviceId:{}'.format(len(np.unique(phone.device_id))))

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

Total number of device id:187245
Number of Unique DeviceId:186716

This says that all the devices in phone is not unique; we need to drop the duplicates
- we can do this by again reading the table with drop_dublicates arguments 
- or just filter out the unique row names"

In [12]:
# let's use pandas.DataFrame.drop_duplicates() to drop the duplicate; by default it keeps the first occurence of everything
phone = phone.drop_duplicates(subset = 'device_id')
print('Total number of device id:{}'.format(len(phone.device_id)))
print('Number of Unique DeviceId:{}'.format(len(np.unique(phone.device_id))))

Total number of device id:186716
Number of Unique DeviceId:186716

In [13]:
print('Total no of Unique phone_brand {}'.format(len(np.unique(phone.phone_brand))))
print('Total no of Unique Device_Model {}'.format(len(np.unique(phone.device_model))))

Total no of Unique phone_brand 131
Total no of Unique Device_Model 1599

** One thing we can do is to make features out of all of the phone_brand as well as Device_model. But, we will end up with a lot of features. Anyways let's do that. Then, we will try to drop some of these features.**

In [14]:
# Making Bianry Features for phone_brand
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
temp = lb.fit_transform(phone[['phone_brand']]) # we need to make it a panda dataframe
temp = pd.DataFrame(temp, columns = [('phone_brand'+"_"+str(i)) for i in phone['phone_brand'].value_counts().index])
phone = pd.concat([phone,temp], axis= 1) # concatinating with earlier one
phone = phone.drop('phone_brand', axis = 1)
print('______________________________________________---')
phone.head(2)
phone.shape

#Anotehr way of dropping the dublicates
# quick check to find duplicate values
# probably we need to see if there is duplicated values, that hurt our model
# 529 devices have duplicate values = give a device id, it can belong to only one brand
#len(pd.read_csv('phone_brand_device_model.csv').set_index('device_id').index.get_duplicates())

______________________________________________---

,device_id,device_model,phone_brand_小米,phone_brand_三星,phone_brand_华为,phone_brand_vivo,phone_brand_OPPO,phone_brand_魅族,phone_brand_酷派,phone_brand_联想,...,phone_brand_帷幄,phone_brand_碟米,phone_brand_宏碁,phone_brand_嘉源,phone_brand_ZOYE,phone_brand_E人E本,phone_brand_瑞高,phone_brand_欧乐酷,phone_brand_极米,phone_brand_西门子
0,-8.890649e+18,红米,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.277780e+18,MI 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

(187219, 133)

** I think, I found the reason for the error I was getting. 
lb.fit_transform(phone[['device_model']].astype(str))
.astype(str) will solve the problem

In [15]:
# The table have two same device id with different Model no
# whenever slice the device_model from phone make it str using; .astype(str)

In [16]:
len(np.unique(phone.device_id))
len(np.unique(phone.device_model.astype(str)))

187218

1600

In [17]:
# Making Bianry Features for device_model

from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
temp = lb.fit(phone.device_model.astype(str))
#temp
temp = lb.transform(phone.device_model.astype(str)) # we need to make it a panda dataframe
#temp.shape
#len(np.unique(phone.device_model.astype(str)))
print('Now we have a sparse matrix with 1600 columns for 1600 brands')
temp = pd.DataFrame(temp, columns = [('device_model'+"_"+str(i)) for i in phone['device_model'].astype(str).value_counts().index])

# The table have two same device id with different Model no
phone = pd.concat([phone,temp], axis= 1) # concatinating with earlier one
phone = phone.drop('device_model', axis = 1)
print('______________________________________________---')
phone.head(2)
# temp.shape

Now we have a sparse matrix with 1600 columns for 1600 brands
______________________________________________---

,device_id,phone_brand_小米,phone_brand_三星,phone_brand_华为,phone_brand_vivo,phone_brand_OPPO,phone_brand_魅族,phone_brand_酷派,phone_brand_联想,phone_brand_金立,...,device_model_X9999,device_model_TALK 7X八核,device_model_S970,device_model_P589L,device_model_锋尚mini,device_model_L81,device_model_MediaPad 10 FHD,device_model_I6,device_model_Xperia M2,device_model_Galaxy Core Plus
0,-8.890649e+18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.277780e+18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

** Now. we have phone data frame with all the device and model as a feature **

** temp1 = lb.fit_transform((phone[['device_model']])) **
This problem was coming with sparses amtrix too; use .astyoe(str) to get rid of theis porb
** Seems like labelBinarizer has some problem with it, I will be using sparse matrix on this and from now on as a standard practice; it works on python2 but not on python3**

### I was thinging to use  sparse matrix on device model to create features for each device, but not any more
We are going to build Compressed Sparse row matrix, so build row index for train and test. 
Read about it here, http://www.scipy-lectures.org/advanced/scipy_sparse/csr_matrix.html 
Basically we have lots of feature possible, nxm matrix has fewer ones and lots of zeros. 
Save space and do update faster by compressed sparse matrix which can be row or column.

In [18]:
events = pd.read_csv(os.path.join(directory, 'events.csv'))
events.head()

print("Shape of event table:{}".format(events.shape))
print("Length of Event DataFrame: {}".format(events.shape[0]))
print("Number of Unique Device id in Event table: {}".format(events.device_id.shape[0]))
# Time to  reduce events table
events_phone = events[events['device_id'].isin(phone.device_id)]
print("Length of Event DataFrame having all the device id as in phone: {}".format(events_phone.shape[0]))

events_gatrain = events[events['device_id'].isin(gender_age_train.device_id)]
print("Length of Event DataFrame having all the device id as in GATrain: {}".format(events_gatrain.shape[0]))

events_gatest = events[events['device_id'].isin(gender_age_test.device_id)]
print("Length of Event DataFrame having all the device id as in GATest: {}".format(events_gatest.shape[0]))


# so we have some device id for which events are missing !!!
# may be we need to model them using separate models ??

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

Shape of event table:(3252950, 5)
Length of Event DataFrame: 3252950
Number of Unique Device id in Event table: 3252950
Length of Event DataFrame having all the device id as in phone: 3160417
Length of Event DataFrame having all the device id as in GATrain: 1215595
Length of Event DataFrame having all the device id as in GATest: 1944822

** Here is the first tricky part of this problem
    - merge[train-phone]based on device id in train
    - again merge new train [new_train-events] based on device id in new_train

**  Here is the first tricky part of this problem
    - merge[test-phone]based on device id in test
    - again merge new test [test-events] based on device id in new_test

In [19]:
#train = pd.merge(gender_age_train, phone, how = 'left', on = 'device_id')

In [20]:
# train.shape
# gender_age_train.shape

In [21]:
# train = pd.merge(train, events, how = 'left', on = 'device_id')
# train.shape

In [22]:
# len(np.unique(train.event_id))

** But first let's work on events table and merge it with app_events app_labels and label_cat table **

In [23]:
events.head(1)
app_events.head(1)
app_labels.head(1)
label_cat.head(1)

   event_id          device_id            timestamp  longitude  latitude
0         1  29182687948017175  2016-05-01 00:55:25     121.38     31.24

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1

                app_id  label_id
0  7324884708820027918       251

   label_id category
0         1      NaN

In [24]:
len(np.unique(events.event_id))
len(np.unique(app_events.event_id))
len(np.unique(app_events.app_id))
len(np.unique(app_labels.app_id))
len(np.unique(app_labels.label_id))
len(np.unique(label_cat.label_id))

3252950

1488096

19237

113211

507

930

** Thing here is, we only need details of app that were availbale on som eevent **

In [25]:
events = pd.merge(events, app_events, on='event_id', how = 'left')

In [26]:
events = pd.merge(events, app_labels, on='app_id', how = 'left')

In [ ]:
events = pd.merge(events, label_cat, on='label_id', how = 'left')

In [ ]:
train = pd.merge(gender_age_train, phone, how = 'left', on = 'device_id')
train = pd.merge(train, events, how = 'left', on = 'device_id')
train.shape()
train.head(2)

In [ ]:
test = pd.merge(gender_age_test, phone, how = 'left', on = 'device_id')
test = pd.merge(test, events, how = 'left', on = 'device_id')
test.shape()
test.head(2)